<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Home Page.</h1>
    <h3><%= 2 * 2 %></h3>
    <h3><%= "varun".toUpperCase() %></h3>
    <h3><%= ["banana", "apple", "mango"][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates delectus repellendus earum nobis vero cupiditate nesciunt aspernatur vitae officia ex.</p>
    <button>Read More</button>
</body>
</html>